* {
box-positioning:border-box;
}
h1 {
text-align: center;
font-size: 250%;
}
.Chicken > h1,.Mutton > h1,.Fish > h1 {
text-align:right;
margin:0;
font-size:150%;
}
h1 span {
background-color:pink
}
div.Chicken,div.Mutton,div.Fish {
width:30%
float:left;
border: 5px solid black;
background-color:grey;
}

@media (min-width:768px) and (max-width:991px) {
div.Fish{

clear:left;
width:100%; 
}
div.Chicken,div.Mutton {
width:50%;
}
}
@media (max-width:767px) {
div.Fish,div.Mutton,div.Chicken {
width:100%
clear:left;
}
}
